.location{
color: rgb(0, 0, 0);
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 18px;
}
.location>p{
    margin:0px;
    font-size: 13px;
    font-weight: 400;
}
.vertical-line{
    height:55px;
    border-left: 1px solid #f2f2f2;
}
.search-div{
   
    padding: 0px 12px;
   
    border: 1px solid rgb(232, 232, 232);
    border-radius: 12px;
    background: rgb(248, 248, 248);
    color: rgb(130, 130, 130);
   
}

.search-div>input{
    border:none;
    width:35vw;
    height:45px;
    background-color:transparent;
}
::placeholder{
    font-size: 14px;

}
.my-cart{
   font-size: 14px !important;
    background-color:#0c831f !important;
}
.my-categories{
   margin-inline: 40px;
}
.my-container{
    width:85%;
   
   overflow-x: auto;
    margin: auto;
    margin-block: 15px;
}
.my-list{
    
    white-space: nowrap;
    
}
.my-list>img{
    padding-inline:10px;
}
::-webkit-scrollbar{
    display: none;
}
.my-card{
    width: 179px;
    margin:10px;
}
.card-time{
    height: 10px;
    width: fit-content;
    font-weight: 700;
    font-size: 9px;
    color: rgb(54, 54, 54);
    border-radius: 4px;
    background-color: rgb(248,248,248);
    padding: 0px 4px;
}
.card-title{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
    padding-top: 5px;
}
.my-card-weight{
    color:#666666;
    font-size:13px;
}
.card-price{
    color:rgb(31,31,31);
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
}
.mrp{
    color:#666666;
    font-size: 12px;
}
.category-section{
    width: 85%;
    margin: auto;
}

.category-section-row{
    width: 100%;
    overflow-x:scroll;
    
}
.header{
    color: rgb(28, 28, 28);
    font-size: 24px;
   
    font-weight: 600;
   
}
.my-footer{
    width: 85%;
    margin: auto;
}
.row-3{
    color:#666666;
    font-size: 12px;
    text-align: justify;
    padding: 10px;

}
.row-2{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.social-btn{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-inline:10px;
}

.social{
    display: flex;
}
.row-2>p{
   text-align: justify;
   color:#666666;
   font-size: 12px;
   width: 35%;
}
.download-section>p{
    color:#666666;
    font-weight: 600;
    font-size:14px;
    margin:16px;
    
}
.download-btns{
    background-color: #213b50;
    color:white;
    border-radius: 10px;
    margin:10px;
    padding: 10px;
    border: none;
}
.row-1{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content:center;
   
}
.useful-links{
    flex:2;
}
.categories{
    flex:3;
   
}
table{
    width:100%;
}
td{
    font-size: 14px;
    color:#666666;
    padding: 3px 1opx;
}
@media screen and (max-width:768px){
    nav,.row-2,.row-1{
        flex-direction: column !important;

    }
    .vertical-line,.hero>img{
        display: none !important;
    }
    .row-2>p{
        width: 90%;
    }
    .row-1>div{
        margin-top: 20px;
    }
   .row-1>div>h2,.row-1>div>h4{
    text-align: center;
   }
   .my-categories{
    margin-inline:10px;
   }
}